body {
	margin: 3% 20% 3% 20%;
	font-family: "Arial", "Times new roman", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: justify;
}

h1 {
	color:#38761d;
	font-size: 28px;
	font-family: "Times new roman";
}

h2 {
	color:#38761d;	
	font-size: 24px;
	font-family: "Times new roman";
}

#jaula {	

}

#succao {	

}

#ascideas {	

}

.citacao {
	margin-left: 10%;
	font-style: italic;
}

figure img {
	border: 4px solid;
	margin: 0 auto;
	display: block;
	color: #6AA84F

}
